@import 'home.css';
@import 'feature.css';
@import 'mobile-ready.css';
@import 'why-simplesite.css';
@import 'footer.css';
@import 'themes.css';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
