
@font-face {
    src: url("C:/Users/Monster/Desktop/simple-site-gloria-team/fonts/Touche\ W03\ Regular.ttf");
    font-family: "touche_regular";
}

body {
    background-color: rgb(246,247,249);
}
div.first-box {
    width:100%;
    height:auto;
}
.first-box {
    padding-top: 60px;
    
}

h1 {
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom:20px;
    color:#444444;
}

hr {
    margin :0 auto;
    width: 80px;
    border-bottom : 3px solid rgb(187,22,0);
}
img { 
    
    
    display:inline-block;
    float:left;
    margin-top:7%;
    margin-left: 2%;
    
}

div.text-box {
    
    display: inline-block;
    float:left;
    width:26%;
    height:auto;
    margin-left: 9%;
    margin-top: 6%;
}

p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(133, 133, 133);
}
div.link {
    text-align:center;
    background-color: rgb(172,20,0);
    width:50%;
    border-radius: 60px;
    margin-top: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.link a {
    text-decoration: none;
    font-size: 15px;
    font-family: "touche_regular";
    color: white;
    letter-spacing: 2px;
}